* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: 80px;
    background-color: rgb(0,97,227);
    color: white;
    padding: 60px;
    text-align: center;
}

.container {
    height: 100px; 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    font-size: 30px;
    padding: 0 40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}

.btn-area {
    margin: 20px 0 0 20px;
    position: absolute  ;
    left: 20px;
}

.btn {
    margin-right: 20px;
    margin-bottom: 40px;
    /* margin: 20px 0 0 0px; */ 
    background: lightgray;
    border: 1px solid;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    align-items: center;
}

i {
    font-size: 25px;
}

.btn:hover {
    background: yellow;
    font-weight: bold;
}

.title {
    margin: 40px 0px 0px 0px;
}

.title-name {
    font-size: 34px;
    color: brown;
}

.title-image {
    margin: 20px 0px 0px 0px;
    max-width : 720px;
}

.title-desc {
    margin: 10px 0px 0px 0px;
    width: 1400px;
}


.Section-title {
    margin: 50px 0px 30px 0px;
    font-size: 34px;
    background: purple;
    color: white;
    width: 140px;
    align-items: center;
}